<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="avicit.discussion_manage.relevanceperson.dao.RelevancePersonDao">

<resultMap id="RelevancePersonDTOMap" type="avicit.discussion_manage.relevanceperson.dto.RelevancePersonDTO">
		<result property="id" column="ID" jdbcType="VARCHAR" />
		<result property="pid" column="PID" jdbcType="VARCHAR" />
		<result property="loginName" column="LOGIN_NAME" jdbcType="VARCHAR" />
		<result property="createdBy" column="CREATED_BY" jdbcType="VARCHAR" />
		<result property="creationDate" column="CREATION_DATE" jdbcType="TIMESTAMP" />
		<result property="lastUpdatedBy" column="LAST_UPDATED_BY" jdbcType="VARCHAR" />
		<result property="lastUpdateDate" column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" />
		<result property="lastUpdateIp" column="LAST_UPDATE_IP" jdbcType="VARCHAR" />
		<result property="version" column="VERSION" jdbcType="DECIMAL" />
		<result property="attribute01" column="ATTRIBUTE_01" jdbcType="VARCHAR" />
		<result property="attribute02" column="ATTRIBUTE_02" jdbcType="VARCHAR" />
		<result property="attribute03" column="ATTRIBUTE_03" jdbcType="VARCHAR" />
		<result property="attribute04" column="ATTRIBUTE_04" jdbcType="VARCHAR" />
		<result property="attribute05" column="ATTRIBUTE_05" jdbcType="VARCHAR" />
		<result property="attribute06" column="ATTRIBUTE_06" jdbcType="VARCHAR" />
		<result property="attribute07" column="ATTRIBUTE_07" jdbcType="TIMESTAMP" />
		<result property="attribute08" column="ATTRIBUTE_08" jdbcType="TIMESTAMP" />
		<result property="attribute09" column="ATTRIBUTE_09" jdbcType="DECIMAL" />
		<result property="attribute10" column="ATTRIBUTE_10" jdbcType="DECIMAL" />
		<result property="vpmLoginName" column="VPM_LOGIN_NAME" jdbcType="VARCHAR" />
		<result property="name" column="NAME" jdbcType="VARCHAR" />
</resultMap>
<!-- 分页查询 RELEVANCE_PERSON -->
<select id="searchRelevancePersonByPage" parameterType="java.util.Map" resultMap="RelevancePersonDTOMap">
	select
		t1.id                             ,
		t1.pid                            ,
		t1.login_name                     ,
		t1.created_by                     ,
		t1.creation_date                  ,
		t1.last_updated_by                ,
		t1.last_update_date               ,
		t1.last_update_ip                 ,
		t1.version                        ,
		t1.attribute_01                   ,
		t1.attribute_02                   ,
		t1.attribute_03                   ,
		t1.attribute_04                   ,
		t1.attribute_05                   ,
		t1.attribute_06                   ,
		t1.attribute_07                   ,
		t1.attribute_08                   ,
		t1.attribute_09                   ,
		t1.attribute_10                   ,
		t1.vpm_login_name  ,
		t1.name               
	from relevance_person 	t1
		<where>
			<if test="bean != null">
			<if test="bean.id != null and bean.id != ''">
				and t1.ID like '%'||#{bean.id}||'%'
			</if>
			<if test="bean.pid != null and bean.pid != ''">
				and t1.PID like '%'||#{bean.pid}||'%'
			</if>
			<if test="bean.loginName != null and bean.loginName != ''">
				and t1.LOGIN_NAME like '%'||#{bean.loginName}||'%'
			</if>
			<if test="bean.createdBy != null and bean.createdBy != ''">
				and t1.CREATED_BY like '%'||#{bean.createdBy}||'%'
			</if>
			<if test="bean.creationDate != null and bean.creationDate != ''">
				and t1.CREATION_DATE like '%'||#{bean.creationDate}||'%'
			</if>
			<if test="bean.lastUpdatedBy != null and bean.lastUpdatedBy != ''">
				and t1.LAST_UPDATED_BY like '%'||#{bean.lastUpdatedBy}||'%'
			</if>
			<if test="bean.lastUpdateDate != null and bean.lastUpdateDate != ''">
				and t1.LAST_UPDATE_DATE like '%'||#{bean.lastUpdateDate}||'%'
			</if>
			<if test="bean.lastUpdateIp != null and bean.lastUpdateIp != ''">
				and t1.LAST_UPDATE_IP like '%'||#{bean.lastUpdateIp}||'%'
			</if>
			<if test="bean.version != null and bean.version != ''">
				and t1.VERSION like '%'||#{bean.version}||'%'
			</if>
			<if test="bean.attribute01 != null and bean.attribute01 != ''">
				and t1.ATTRIBUTE_01 like '%'||#{bean.attribute01}||'%'
			</if>
			<if test="bean.attribute02 != null and bean.attribute02 != ''">
				and t1.ATTRIBUTE_02 like '%'||#{bean.attribute02}||'%'
			</if>
			<if test="bean.attribute03 != null and bean.attribute03 != ''">
				and t1.ATTRIBUTE_03 like '%'||#{bean.attribute03}||'%'
			</if>
			<if test="bean.attribute04 != null and bean.attribute04 != ''">
				and t1.ATTRIBUTE_04 like '%'||#{bean.attribute04}||'%'
			</if>
			<if test="bean.attribute05 != null and bean.attribute05 != ''">
				and t1.ATTRIBUTE_05 like '%'||#{bean.attribute05}||'%'
			</if>
			<if test="bean.attribute06 != null and bean.attribute06 != ''">
				and t1.ATTRIBUTE_06 like '%'||#{bean.attribute06}||'%'
			</if>
			<if test="bean.attribute07 != null and bean.attribute07 != ''">
				and t1.ATTRIBUTE_07 like '%'||#{bean.attribute07}||'%'
			</if>
			<if test="bean.attribute08 != null and bean.attribute08 != ''">
				and t1.ATTRIBUTE_08 like '%'||#{bean.attribute08}||'%'
			</if>
			<if test="bean.attribute09 != null and bean.attribute09 != ''">
				and t1.ATTRIBUTE_09 like '%'||#{bean.attribute09}||'%'
			</if>
			<if test="bean.attribute10 != null and bean.attribute10 != ''">
				and t1.ATTRIBUTE_10 like '%'||#{bean.attribute10}||'%'
			</if>
			<if test="bean.vpmLoginName != null and bean.vpmLoginName != ''">
				and t1.VPM_LOGIN_NAME like '%'||#{bean.vpmLoginName}||'%'
			</if>
			<if test="bean.name != null and bean.name != ''">
				and t1.NAME like '%'||#{bean.name}||'%'
			</if>
			</if>
			<if test="sfnConditions != null and sfnConditions.sql != ''">
				and ${sfnConditions.sql}			
			</if>
		</where>
			order by t1.creation_date desc
</select>
<!-- 查询列表 RELEVANCE_PERSON -->
<select id="searchRelevancePerson" parameterType="java.util.Map" resultMap="RelevancePersonDTOMap">
	select
		t1.id                             ,
		t1.pid                            ,
		t1.login_name                     ,
		t1.created_by                     ,
		t1.creation_date                  ,
		t1.last_updated_by                ,
		t1.last_update_date               ,
		t1.last_update_ip                 ,
		t1.version                        ,
		t1.attribute_01                   ,
		t1.attribute_02                   ,
		t1.attribute_03                   ,
		t1.attribute_04                   ,
		t1.attribute_05                   ,
		t1.attribute_06                   ,
		t1.attribute_07                   ,
		t1.attribute_08                   ,
		t1.attribute_09                   ,
		t1.attribute_10                   ,
		t1.vpm_login_name                 
	from relevance_person 	t1
		<where>
			<if test="id != null and id != ''">
				and t1.ID =#{id}
			</if>
			<if test="pid != null and pid != ''">
				and t1.PID =#{pid}
			</if>
			<if test="loginName != null and loginName != ''">
				and t1.LOGIN_NAME =#{loginName}
			</if>
			<if test="createdBy != null and createdBy != ''">
				and t1.CREATED_BY =#{createdBy}
			</if>
			<if test="creationDate != null and creationDate != ''">
				and t1.CREATION_DATE =#{creationDate}
			</if>
			<if test="lastUpdatedBy != null and lastUpdatedBy != ''">
				and t1.LAST_UPDATED_BY =#{lastUpdatedBy}
			</if>
			<if test="lastUpdateDate != null and lastUpdateDate != ''">
				and t1.LAST_UPDATE_DATE =#{lastUpdateDate}
			</if>
			<if test="lastUpdateIp != null and lastUpdateIp != ''">
				and t1.LAST_UPDATE_IP =#{lastUpdateIp}
			</if>
			<if test="version != null and version != ''">
				and t1.VERSION =#{version}
			</if>
			<if test="attribute01 != null and attribute01 != ''">
				and t1.ATTRIBUTE_01 =#{attribute01}
			</if>
			<if test="attribute02 != null and attribute02 != ''">
				and t1.ATTRIBUTE_02 =#{attribute02}
			</if>
			<if test="attribute03 != null and attribute03 != ''">
				and t1.ATTRIBUTE_03 =#{attribute03}
			</if>
			<if test="attribute04 != null and attribute04 != ''">
				and t1.ATTRIBUTE_04 =#{attribute04}
			</if>
			<if test="attribute05 != null and attribute05 != ''">
				and t1.ATTRIBUTE_05 =#{attribute05}
			</if>
			<if test="attribute06 != null and attribute06 != ''">
				and t1.ATTRIBUTE_06 =#{attribute06}
			</if>
			<if test="attribute07 != null and attribute07 != ''">
				and t1.ATTRIBUTE_07 =#{attribute07}
			</if>
			<if test="attribute08 != null and attribute08 != ''">
				and t1.ATTRIBUTE_08 =#{attribute08}
			</if>
			<if test="attribute09 != null and attribute09 != ''">
				and t1.ATTRIBUTE_09 =#{attribute09}
			</if>
			<if test="attribute10 != null and attribute10 != ''">
				and t1.ATTRIBUTE_10 =#{attribute10}
			</if>
			<if test="vpmLoginName != null and vpmLoginName != ''">
				and t1.VPM_LOGIN_NAME =#{vpmLoginName}
			</if>
		</where>
</select>
<!-- 主键查询对象 RELEVANCE_PERSON -->
<select id="findRelevancePersonById" parameterType="java.util.Map" resultMap="RelevancePersonDTOMap">
	select
		t1.id                             ,
		t1.pid                            ,
		t1.login_name                     ,
		t1.created_by                     ,
		t1.creation_date                  ,
		t1.last_updated_by                ,
		t1.last_update_date               ,
		t1.last_update_ip                 ,
		t1.version                        ,
		t1.attribute_01                   ,
		t1.attribute_02                   ,
		t1.attribute_03                   ,
		t1.attribute_04                   ,
		t1.attribute_05                   ,
		t1.attribute_06                   ,
		t1.attribute_07                   ,
		t1.attribute_08                   ,
		t1.attribute_09                   ,
		t1.attribute_10                   ,
		t1.vpm_login_name                 
	from relevance_person 	t1
		where t1.id = #{id}
</select>
<!-- pid查询对象 RELEVANCE_PERSON -->
<select id="findRelevancePersonByPid" parameterType="java.util.Map" resultMap="RelevancePersonDTOMap">
	select
		t1.id                             ,
		t1.pid                            ,
		t1.login_name                     ,
		t1.created_by                     ,
		t1.creation_date                  ,
		t1.last_updated_by                ,
		t1.last_update_date               ,
		t1.last_update_ip                 ,
		t1.version                        ,
		t1.attribute_01                   ,
		t1.attribute_02                   ,
		t1.attribute_03                   ,
		t1.attribute_04                   ,
		t1.attribute_05                   ,
		t1.attribute_06                   ,
		t1.attribute_07                   ,
		t1.attribute_08                   ,
		t1.attribute_09                   ,
		t1.attribute_10                   ,
		t1.vpm_login_name                 
	from relevance_person 	t1
		where t1.pid = #{pid}
</select>
<!-- 根据通过VPM登录名查询数据 RELEVANCE_PERSON -->
<select id="findRelevancePersonByVpmLoginName" parameterType="java.lang.String" resultType="java.lang.String">
	select t.login_name from relevance_person_branch t where t.vpm_login_name=#{vpmLoginName}
  	union all
      select t.login_name from RELEVANCE_PERSON t where t.vpm_login_name=#{vpmLoginName}
</select>
<!-- 新增对象 RELEVANCE_PERSON -->
<insert id="insertRelevancePerson" parameterType="avicit.discussion_manage.relevanceperson.dto.RelevancePersonDTO">
	insert into relevance_person
	<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="pid != null">
				pid,
			</if>
			<if test="loginName != null">
				login_name,
			</if>
			<if test="createdBy != null">
				created_by,
			</if>
			<if test="creationDate != null">
				creation_date,
			</if>
			<if test="lastUpdatedBy != null">
				last_updated_by,
			</if>
			<if test="lastUpdateDate != null">
				last_update_date,
			</if>
			<if test="lastUpdateIp != null">
				last_update_ip,
			</if>
			<if test="version != null">
				version,
			</if>
			<if test="attribute01 != null">
				attribute_01,
			</if>
			<if test="attribute02 != null">
				attribute_02,
			</if>
			<if test="attribute03 != null">
				attribute_03,
			</if>
			<if test="attribute04 != null">
				attribute_04,
			</if>
			<if test="attribute05 != null">
				attribute_05,
			</if>
			<if test="attribute06 != null">
				attribute_06,
			</if>
			<if test="attribute07 != null">
				attribute_07,
			</if>
			<if test="attribute08 != null">
				attribute_08,
			</if>
			<if test="attribute09 != null">
				attribute_09,
			</if>
			<if test="attribute10 != null">
				attribute_10,
			</if>
			<if test="vpmLoginName != null">
				vpm_login_name,
			</if>
			<if test="name != null">
				name,
			</if>
	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="pid != null">
				#{pid,jdbcType=VARCHAR},
			</if>
			<if test="loginName != null">
				#{loginName,jdbcType=VARCHAR},
			</if>
			<if test="createdBy != null">
				#{createdBy,jdbcType=VARCHAR},
			</if>
			<if test="creationDate != null">
				#{creationDate},
			</if>
			<if test="lastUpdatedBy != null">
				#{lastUpdatedBy,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateDate != null">
				#{lastUpdateDate},
			</if>
			<if test="lastUpdateIp != null">
				#{lastUpdateIp,jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				#{version,jdbcType=DECIMAL},
			</if>
			<if test="attribute01 != null">
				#{attribute01,jdbcType=VARCHAR},
			</if>
			<if test="attribute02 != null">
				#{attribute02,jdbcType=VARCHAR},
			</if>
			<if test="attribute03 != null">
				#{attribute03,jdbcType=VARCHAR},
			</if>
			<if test="attribute04 != null">
				#{attribute04,jdbcType=VARCHAR},
			</if>
			<if test="attribute05 != null">
				#{attribute05,jdbcType=VARCHAR},
			</if>
			<if test="attribute06 != null">
				#{attribute06,jdbcType=VARCHAR},
			</if>
			<if test="attribute07 != null">
				#{attribute07,jdbcType=DATE},
			</if>
			<if test="attribute08 != null">
				#{attribute08,jdbcType=DATE},
			</if>
			<if test="attribute09 != null">
				#{attribute09,jdbcType=DECIMAL},
			</if>
			<if test="attribute10 != null">
				#{attribute10,jdbcType=DECIMAL},
			</if>
			<if test="vpmLoginName != null">
				#{vpmLoginName,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
	</trim>
</insert>
<!-- 更新对象 RELEVANCE_PERSON -->
<update id="updateRelevancePersonSensitive" parameterType="avicit.discussion_manage.relevanceperson.dto.RelevancePersonDTO">
	update relevance_person t1
	<set>
			<if test="id != null">
				t1.id                             =#{id,jdbcType=VARCHAR},
			</if>
			<if test="pid != null">
				t1.pid                            =#{pid,jdbcType=VARCHAR},
			</if>
			<if test="loginName != null">
				t1.login_name                     =#{loginName,jdbcType=VARCHAR},
			</if>
			<if test="createdBy != null">
				t1.created_by                     =#{createdBy,jdbcType=VARCHAR},
			</if>
			<if test="creationDate != null">
				t1.creation_date                  =#{creationDate},
			</if>
			<if test="lastUpdatedBy != null">
				t1.last_updated_by                =#{lastUpdatedBy,jdbcType=VARCHAR},
			</if>
			<if test="lastUpdateDate != null">
				t1.last_update_date               =#{lastUpdateDate},
			</if>
			<if test="lastUpdateIp != null">
				t1.last_update_ip                 =#{lastUpdateIp,jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				t1.version                        =t1.version+1,
			</if>
			<if test="attribute01 != null">
				t1.attribute_01                   =#{attribute01,jdbcType=VARCHAR},
			</if>
			<if test="attribute02 != null">
				t1.attribute_02                   =#{attribute02,jdbcType=VARCHAR},
			</if>
			<if test="attribute03 != null">
				t1.attribute_03                   =#{attribute03,jdbcType=VARCHAR},
			</if>
			<if test="attribute04 != null">
				t1.attribute_04                   =#{attribute04,jdbcType=VARCHAR},
			</if>
			<if test="attribute05 != null">
				t1.attribute_05                   =#{attribute05,jdbcType=VARCHAR},
			</if>
			<if test="attribute06 != null">
				t1.attribute_06                   =#{attribute06,jdbcType=VARCHAR},
			</if>
			<if test="attribute07 != null">
				t1.attribute_07                   =#{attribute07,jdbcType=DATE},
			</if>
			<if test="attribute08 != null">
				t1.attribute_08                   =#{attribute08,jdbcType=DATE},
			</if>
			<if test="attribute09 != null">
				t1.attribute_09                   =#{attribute09,jdbcType=DECIMAL},
			</if>
			<if test="attribute10 != null">
				t1.attribute_10                   =#{attribute10,jdbcType=DECIMAL},
			</if>
			<if test="vpmLoginName != null">
				t1.vpm_login_name                 =#{vpmLoginName,jdbcType=VARCHAR},
			</if>
	</set>
		where t1.id = #{id} and t1.version =#{version}
</update>
<!-- 更新对象 RELEVANCE_PERSON -->
<update id="updateRelevancePersonAll" parameterType="avicit.discussion_manage.relevanceperson.dto.RelevancePersonDTO">
	update relevance_person t1
		set
			t1.id                             =#{id,jdbcType=VARCHAR},
			t1.pid                            =#{pid,jdbcType=VARCHAR},
			t1.login_name                     =#{loginName,jdbcType=VARCHAR},
			t1.created_by                     =#{createdBy,jdbcType=VARCHAR},
			t1.creation_date                  =#{creationDate},
			t1.last_updated_by                =#{lastUpdatedBy,jdbcType=VARCHAR},
			t1.last_update_date               =#{lastUpdateDate},
			t1.last_update_ip                 =#{lastUpdateIp,jdbcType=VARCHAR},
			t1.version                        =t1.version+1,
			t1.attribute_01                   =#{attribute01,jdbcType=VARCHAR},
			t1.attribute_02                   =#{attribute02,jdbcType=VARCHAR},
			t1.attribute_03                   =#{attribute03,jdbcType=VARCHAR},
			t1.attribute_04                   =#{attribute04,jdbcType=VARCHAR},
			t1.attribute_05                   =#{attribute05,jdbcType=VARCHAR},
			t1.attribute_06                   =#{attribute06,jdbcType=VARCHAR},
			t1.attribute_07                   =#{attribute07,jdbcType=DATE},
			t1.attribute_08                   =#{attribute08,jdbcType=DATE},
			t1.attribute_09                   =#{attribute09,jdbcType=DECIMAL},
			t1.attribute_10                   =#{attribute10,jdbcType=DECIMAL},
			t1.vpm_login_name                 =#{vpmLoginName,jdbcType=VARCHAR},
	where t1.id = #{id} and t1.version =#{version}
</update>
<!-- 主键删除 RELEVANCE_PERSON -->
<delete id="deleteRelevancePersonById" parameterType="java.lang.String">
		delete from relevance_person t1 where  t1.pid = #{id}
</delete >
<select id="getUserIdByLoggerName" parameterType="java.lang.String"     resultType="java.lang.String">
	select t.pid from relevance_person_branch t where t.vpm_login_name=#{userName}
	union all
	select t.pid from RELEVANCE_PERSON t where t.vpm_login_name=#{userName}

</select>






</mapper>