<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="avicit.discussion_manage.checkassigntask.dao.CheckAssignTaskDao">

<resultMap id="CheckAssignTaskDTOMap" type="avicit.discussion_manage.checkassigntask.dto.CheckAssignTaskDTO">
		<result property="id" column="ID" jdbcType="VARCHAR" />
		<result property="taskCode" column="TASK_CODE" jdbcType="VARCHAR" />
		<result property="taskTitle" column="TASK_TITLE" jdbcType="VARCHAR" />
		<result property="taskType" column="TASK_TYPE" jdbcType="VARCHAR" />
		<result property="structureId" column="STRUCTURE_ID" jdbcType="VARCHAR" />
		<result property="classCode" column="class_code" jdbcType="VARCHAR" />
		<result property="taskTable" column="TASK_TABLE" jdbcType="VARCHAR" />
		<result property="formId" column="FORM_ID" jdbcType="VARCHAR" />
		<result property="sponsorUserId" column="SPONSOR_USER_ID" jdbcType="VARCHAR" />
		<result property="sponsorUserName" column="SPONSOR_USER_NAME" jdbcType="VARCHAR" />
		<result property="taskUserId" column="TASK_USER_ID" jdbcType="VARCHAR" />
		<result property="taskUserName" column="TASK_USER_NAME" jdbcType="VARCHAR" />
		<result property="taskUrl" column="TASK_URL" jdbcType="VARCHAR" />
		<result property="taskIsok" column="TASK_ISOK" jdbcType="VARCHAR" />
		<result property="validFlag" column="VALID_FLAG" jdbcType="VARCHAR" />
		<result property="sendDate" column="send_date" jdbcType="VARCHAR" />
		<result property="createdBy" column="CREATED_BY" jdbcType="VARCHAR" />
		<result property="creationDate" column="CREATION_DATE" jdbcType="TIMESTAMP" />
		<result property="lastUpdatedBy" column="LAST_UPDATED_BY" jdbcType="VARCHAR" />
		<result property="lastUpdateDate" column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" />
		<result property="lastUpdateIp" column="LAST_UPDATE_IP" jdbcType="VARCHAR" />
		<result property="version" column="VERSION" jdbcType="DECIMAL" />
		<result property="attribute01" column="ATTRIBUTE_01" jdbcType="VARCHAR" />
		<result property="attribute02" column="ATTRIBUTE_02" jdbcType="VARCHAR" />
		<result property="attribute03" column="ATTRIBUTE_03" jdbcType="VARCHAR" />
		<result property="attribute04" column="ATTRIBUTE_04" jdbcType="VARCHAR" />
		<result property="attribute05" column="ATTRIBUTE_05" jdbcType="VARCHAR" />
		<result property="attribute06" column="ATTRIBUTE_06" jdbcType="VARCHAR" />
		<result property="attribute07" column="ATTRIBUTE_07" jdbcType="TIMESTAMP" />
		<result property="attribute08" column="ATTRIBUTE_08" jdbcType="TIMESTAMP" />
		<result property="attribute09" column="ATTRIBUTE_09" jdbcType="DECIMAL" />
		<result property="attribute10" column="ATTRIBUTE_10" jdbcType="DECIMAL" />
</resultMap>


<!-- 根据登陆人返回待办信息CHECK_ASSIGN_TASK -->
<select id="getCheckAssignTaskDTOListByLoginUserId" parameterType="java.lang.String" resultMap="CheckAssignTaskDTOMap">
	select
		t1.id                             ,
		t1.task_code                      ,
		t1.task_title                     ,
		t1.task_type                      ,
		t1.structure_id                   ,
		 m.class_code					  ,
		t1.task_table                     ,
		t1.form_id                        ,
		t1.sponsor_user_id                ,
		t1.sponsor_user_name              ,
		t1.task_user_id                   ,
		t1.task_user_name                 ,
		t1.task_url                       ,
		t1.task_isok                      ,
		t1.valid_flag               	  ,
		to_char(t1.creation_date,'yyyy-MM-dd') as send_date
	from check_assign_task 	t1
		left join  structure_manage m
		on  t1.structure_id = m.id
		where t1.task_user_id = #{userId}
</select>

<!-- 审查分工发待办  -->
<insert id="insertCheckAssignData" parameterType="java.util.HashMap">
	insert into check_assign_task 
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="taskTitle != null">
				task_title,
			</if>
			<if test="taskType != null">
				task_type,
			</if>
			<if test="structureId != null">
				structure_id,
			</if>
			<if test="sponsorUserId != null">
				sponsor_user_id,
			</if>
			<if test="sponsorUserName != null">
				sponsor_user_name,
			</if>
			<if test="taskUserId != null">
				task_user_id,
			</if>
			<if test="taskUserName != null">
				task_user_name,
			</if>
			<if test="taskUrl != null">
				task_url,
			</if>
			<if test="1==1">
				task_isok,
			</if>
			<if test="1==1">
				valid_flag,
			</if>
			<if test="sysUserId != null">
				created_by,
			</if>
			<if test="sendDate != null">
				creation_date,
			</if>
			<if test="sysUserId != null">
				last_updated_by,
			</if>
			<if test="sendDate != null">
				last_update_date,
			</if>
			<if test="clientIp != null">
				last_update_ip,
			</if>
			<if test="1==1">
				version,
			</if>
		</trim>
		<trim prefix="values(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="taskTitle != null">
				#{taskTitle,jdbcType=VARCHAR},
			</if>
			<if test="taskType != null">
				#{taskType,jdbcType=VARCHAR},
			</if>
			<if test="structureId != null">
				#{structureId,jdbcType=VARCHAR},
			</if>
			<if test="sponsorUserId != null">
				#{sponsorUserId,jdbcType=VARCHAR},
			</if>
			<if test="sponsorUserName != null">
				#{sponsorUserName,jdbcType=VARCHAR},
			</if>
			<if test="taskUserId != null">
				#{taskUserId,jdbcType=VARCHAR},
			</if>
			<if test="taskUserName != null">
				#{taskUserName,jdbcType=VARCHAR},
			</if>
			<if test="taskUrl != null">
				#{taskUrl,jdbcType=VARCHAR},
			</if>
			<if test="1==1">
				0,
			</if>
			<if test="1==1">
				1,
			</if>
			<if test="sysUserId != null">
				#{sysUserId,jdbcType=VARCHAR},
			</if>
			<if test="sendDate != null">
				#{sendDate},
			</if>
			<if test="sysUserId != null">
				#{sysUserId,jdbcType=VARCHAR},
			</if>
			<if test="sendDate != null">
				#{sendDate},
			</if>
			<if test="clientIp != null">
				#{clientIp,jdbcType=VARCHAR},
			</if>
			<if test="1==1">
				1,
			</if>
		</trim>
</insert>

<!-- 审查分工发通知  -->
<insert id="insertSysMessageData" parameterType="java.util.HashMap">
	insert into sys_message
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="content != null">
				content,
			</if>
			<if test="structureId != null">
				url_address,
			</if>
			<if test="sendUser != null">
				send_user,
			</if>
			<if test="sendDate != null">
				send_date,
			</if>
			<if test="recvUser != null">
				recv_user,
			</if>
			<if test="sendDate != null">
				recv_date,
			</if>
			<if test="1==1">
				is_readed,
			</if>
			<if test="sysUserId != null">
				created_by,
			</if>
			<if test="sendDate != null">
				creation_date,
			</if>
			<if test="sysUserId != null">
				last_updated_by,
			</if>
			<if test="sendDate != null">
				last_update_date,
			</if>
			<if test="1==1">
				last_update_ip,
			</if>
			<if test="1==1">
				version,
			</if>
			<if test="sendDeptid != null">
				send_deptid,
			</if>
			<if test="1==1">
				sys_application_id,
			</if>
		</trim>
		<trim prefix="values(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="structureId != null">
				#{structureId,jdbcType=VARCHAR},
			</if>
			<if test="sendUser != null">
				#{sendUser,jdbcType=VARCHAR},
			</if>
			<if test="sendDate != null">
				sysdate,
			</if>
			<if test="recvUser != null">
				#{recvUser,jdbcType=VARCHAR},
			</if>
			<if test="sendDate != null">
				#{sendDate},
			</if>
			<if test="1==1">
				0,
			</if>
			<if test="sysUserId != null">
				#{sysUserId,jdbcType=VARCHAR},
			</if>
			<if test="sendDate != null">
				#{sendDate},
			</if>
			<if test="sysUserId != null">
				#{sysUserId,jdbcType=VARCHAR},
			</if>
			<if test="sendDate != null">
				#{sendDate},
			</if>
			<if test="clientIp != null">
				#{clientIp,jdbcType=VARCHAR},
			</if>
			<if test="1==1">
				1,
			</if>
			<if test="sendDeptid != null">
				#{sendDeptid,jdbcType=VARCHAR},
			</if>
			<if test="1==1">
				1,
			</if>
		</trim>
</insert>

<!-- 待办后处理 -->
<update id="updateCheckAssignTaskAftertreatment" parameterType="java.util.HashMap">
	UPDATE MDCS.CHECK_ASSIGN_TASK T SET T.TASK_ISOK = '1' 
		WHERE T.TASK_TYPE = #{taskType,jdbcType=VARCHAR}
		  AND T.STRUCTURE_ID =  #{structureId,jdbcType=VARCHAR} 
		  AND T.TASK_USER_ID =  #{taskUserId,jdbcType=VARCHAR}  
</update>


</mapper>