<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="avicit.discussion_manage.structureDataSynchronize.dao.StructureDataSynchronizeDAO">

<!-- 判断该零件是否存在 -->
<select id="findHasClassCode" parameterType="java.lang.String" resultType="java.lang.String">
	select nvl(id,'') from mdcs.structure_manage t where t.class_code = #{classCode}
</select>
<select id="findJiXinClassCode" parameterType="java.lang.String" resultType="java.lang.String">
	select nvl(id,'') from mdcs.structure_manage t where t.class_code = #{jixing}
</select>
<select id="findPartbyId" parameterType="java.lang.String" resultType="java.lang.String">
	select nvl(id,'') from structural_relationship t where t.parent_str_id = #{strId}
</select>
<delete id="deletStrShip">
	delete from structural_relationship t where t.PARENT_STR_ID = #{partId} and t.INSTANCE_ID = #{jx}
</delete>
<!-- 插入零部件信息  -->
<insert id="insertStructureData" parameterType="avicit.discussion_manage.structureDataSynchronize.dto.WebserviceXmlStructureDTO">
	
	<!-- 给零部件表插数据 -->
	insert into mdcs.structure_manage
	<trim prefix="(" suffix=")" suffixOverrides=",">
	
			<if test="id != null">
				id,
			</if>
			<if test="classType != null">
				class_type,
			</if>
			<if test="className != null">
				class_name,
			</if>
			<if test="classCode != null">
				class_code,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="edition != null">
				edition,
			</if>
			<if test="designerId != null">
				designer_id,
			</if>
			<if test="1==1">
				created_by,
			</if>
			<if test="1==1">
				creation_date,
			</if>
			<if test="1==1">
				last_updated_by,
			</if>
			<if test="1==1">
				last_update_date,
			</if>
			<if test="1==1">
				last_update_ip,
			</if>
			<if test="1==1">
				version,
			</if>
	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides=",">
				<if test="id != null">
				 =#{id,jdbcType=VARCHAR},
			</if>
			<if test="classType != null">
				 =#{classType,jdbcType=VARCHAR},
			</if>
			<if test="className != null">
				 =#{className,jdbcType=VARCHAR},
			</if>
			<if test="classCode != null">
				 =#{classCode,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				 =#{status,jdbcType=VARCHAR},
			</if>
			<if test="edition != null">
				 =#{edition,jdbcType=VARCHAR},
			</if>
			<if test="designerId != null">
				 =#{designerId,jdbcType=VARCHAR},
			</if>
			<if test="1==1">
				"1",
			</if>
			<if test="1==1">
				sysdate,
			</if>
			<if test="1==1">
				"1",
			</if>
			<if test="1==1">
				sysdate,
			</if>
			<if test="1==1">
				"1",
			</if>
			<if test="1==1">
				1,
			</if>
		</trim>	
		
		<!-- 给关系表插数据 -->
		insert into mdcs.structural_relationship(id,str_id,parent_str_id,instance_id,created_by
		
		<trim prefix="(" suffix=")" suffixOverrides=",">
	
			<if test="relationshipId != null">
				id,
			</if>
			<if test="id != null">
				str_id,
			</if>
			<if test="className != null">
				class_name,
			</if>
			<if test="classCode != null">
				class_code,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="edition != null">
				edition,
			</if>
			<if test="designerId != null">
				designer_id,
			</if>
			<if test="1==1">
				created_by,
			</if>
			<if test="1==1">
				creation_date,
			</if>
			<if test="1==1">
				last_updated_by,
			</if>
			<if test="1==1">
				last_update_date,
			</if>
			<if test="1==1">
				last_update_ip,
			</if>
			<if test="1==1">
				version,
			</if>
	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="relationshipId != null">
				 =#{relationshipId,jdbcType=VARCHAR},
			</if>
			<if test="id != null">
				 =#{id,jdbcType=VARCHAR},
			</if>
			<if test="className != null">
				 =#{className,jdbcType=VARCHAR},
			</if>
			<if test="classCode != null">
				 =#{classCode,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				 =#{status,jdbcType=VARCHAR},
			</if>
			<if test="edition != null">
				 =#{edition,jdbcType=VARCHAR},
			</if>
			<if test="designerId != null">
				 =#{designerId,jdbcType=VARCHAR},
			</if>
			<if test="1==1">
				"1",
			</if>
			<if test="1==1">
				sysdate,
			</if>
			<if test="1==1">
				"1",
			</if>
			<if test="1==1">
				sysdate,
			</if>
			<if test="1==1">
				"1",
			</if>
			<if test="1==1">
				1,
			</if>
		</trim>	
		
		
		
</insert>

<!--  该机型是否已经配置默认专业 -->
<select id="searchIfHasConfig" parameterType="java.lang.String" resultType="java.lang.Integer">
	select count(1)
  from prof_configuration t
 where t.type_id = (select t.id
                      from mdcs.structure_manage m
                     where m.class_code = #{jixing}
                       and rownum = 1)
</select>
</mapper>